@import "../../../styles.scss";

.page {
  color: $light-color;

  .content-page {
    .item-image {
      border: 2px solid $primary-100;

      img {
        filter: drop-shadow(0 4px 4px $dark-color);
      }
    }

    .properties{
        min-width: 300px;
      display: flex;
      flex-direction: column;
      border: 2px solid $primary-100;
      
      .property{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        border-bottom: 1px solid $primary-100;
      }
    }
  }
}



